
			<li class="list-group-item">
			<%=time_ago_in_words(activity.created_at)%> ago
			<%= activity.trackable.zombie.username + " posted " %></li>
			<li class="list-group-item media-li">
			<div class="media">
				<div class="media-left media-middle">
					<%= image_tag activity.trackable.zombie.image.url(:thumb), class:"profile-img media-object", alt:"profile-picture" %>
				</div>
				<div class="media-body">
					<p class="media-heading post-content"><%= trackable_words(activity) %></p>
				</div>
			</div>
			</li>
		

		
