
<h1 class="container"></h1>

<div col col-md-8>
<ul>
<% @activities.each do |activity| %>

  <%if activity.trackable_type == "Post"%>
		<%= " posted " + activity.trackable.content %>
<% end %>

<%end %>
</ul>
</div>

<div col-6 col-sm-4>

<%= pie_chart @zombies.group(:fav_hot_sauce).count %>
</div>