
<h1 class="container"></h1>

<div col col-md-8>
<table class="table">
<% @posts.each do |post| %>
	<tbody>
		<tr>
			<td><%= post.zombie.username%></td>
			<td><%= post.content %></td>
		</tr>
	</tbody>
<%end%>
</table>
</div>

<div col-6 col-sm-4>

<%= pie_chart @zombies.group(:fav_hot_sauce).count %>
</div>