<div class="row">
<div class="col-lg-6 col-sm-6">
  <div class="profile-column">
    <div class="header-board">

    <% if @zombie.image %>
      <%= image_tag @zombie.image.url(:medium), class:"img-thumbnail img-responsive" %>
      <% end %> 
  
    </div> <!-- end header board -->
   
  </div> <!-- end profile column -->

</div>
<div class="row">
  <div class=" col-sm-6">

      <%= render 'shared/activity_feed', locals: {zombie: @zombie, activities: @activities} %>
  </div>
</div>
  <div class="well">
    <%= render 'shared/post_new'%>
    
  </div>

  
</div>
