
<div class="row">
	<div class="col-xs-6 col-md-4">
	<%= image_tag @zombie.image.url, class:"img-thumbnail" %>
	</div>
	<div class="col-xs-12 col-md-8">
		
	</div>
	
</div>

<div class="row profile">
	<div class="col-xs-6 col-md-4">
  	<p><strong>Username:</strong>
  	<%= @zombie.username %></p>
  	</div>
  	<div class="col-xs-12 col-md-8">
  		
  	</div>
</div>