<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="clearfix">
          <% if @zombie.image %>
        	<%= image_tag @zombie.image.url, class:"pull-left img-thumbnail img-responsive" %>
    <% end %>
    </div>
  </div>
    
          
    
  </div>

  <div class="pull-right">
  		<%= render 'shared/post_new'%>
  </div>	
 </div>
  
</div>