@import "bootstrap-sprockets";
@import "bootstrap";
@import "errors";
@import "zombies";

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;

}

.profile {
	p {
	font-size: 12px;
	}
}

