// Place all the styles related to the zombies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header-board {
	height: 350px;
	

}




.profile-column {
	width: 25%;
	display: inline-block;
}

.personal-feed {
	display: inline-block;
	
	
}
